root = true

[*.{sh,bash,bats}]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[bashcore]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[Makefile]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 8
